<h1>Editar Artículo</h1>

<%= render "form", article: @article %>

<div style="margin-top: 1rem;">
  <%= link_to "Ver Artículo", @article %> |
  <%= link_to "Volver a Artículos", articles_path %>
</div>
